# Ignore node_modules
node_modules/

# Ignore build output directories
dist/
build/

# Ignore TypeScript cache
*.tsbuildinfo

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore temporary files and directories
tmp/
temp/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store

# Ignore lock files (optional, depending on team preference)
package-lock.json
yarn.lock

# Prisma Migrations
prisma/migrations
